# Lesson 4: Text-to-SQL RAG Agent

In this lesson, we'll learn how to create an AI agent that can convert natural language queries into SQL and execute them against a database. This approach enables users to interact with databases using plain English instead of writing SQL queries.

We'll build a complete text-to-SQL solution that can handle complex queries across multiple tables in an e-commerce database.

## Lesson Objectives

By the end of this lesson, you will be able to:

1. Set up and populate a SQLite database from CSV data
2. Create basic text-to-SQL conversions using LLMs
3. Build database schema understanding for the AI agent
4. Implement SQL execution with safety measures
5. Use function calling to create dynamic text-to-SQL agents
6. Handle complex multi-table queries and relationships
7. Create a conversational database interface with error handling

## 1. Environment Setup

First, let's set up our environment and generate the sample data.

In [1]:
# Install required packages if needed
# !pip install faker pandas sqlite3 openai python-dotenv

In [1]:
# Import required libraries
import sqlite3
import pandas as pd
import os
import json
from dotenv import load_dotenv, find_dotenv
from openai import OpenAI
from IPython.display import display, HTML, Markdown
import subprocess
import sys

# Load environment variables
load_dotenv(find_dotenv())

True

In [2]:
# Get API keys and configuration
OPENAI_API_KEY = os.environ.get("OPENAI_API_KEY")
MODEL = os.environ.get("OPENAI_MODEL", "gpt-4.1")

# Check if the necessary API keys are available
if not OPENAI_API_KEY:
    print("‚ö†Ô∏è OpenAI API key not found. Please set the OPENAI_API_KEY environment variable.")
else:
    print("‚úÖ OpenAI API key loaded successfully")
    print(f"üìã Using model: {MODEL}")

‚úÖ OpenAI API key loaded successfully
üìã Using model: gpt-4.1

In [3]:
# Initialize OpenAI client
client = OpenAI(api_key=OPENAI_API_KEY)

print(f"‚úÖ OpenAI client initialized")
print(f"üìã Using model: {MODEL}")

‚úÖ OpenAI client initialized
üìã Using model: gpt-4.1

## 2. Generate Sample Data

Let's generate our sample e-commerce data using the create_dummy_data.py script.

run the `create_dummy_data.py` file

## 3. Load Data and Create SQLite Database

Now let's load our CSV files and create a SQLite database.

In [4]:

# # Load CSV files
# path_dataset = '../Lessons_OpenAI/lesson_4_text_to_sql/'
# customers_df = pd.read_csv(path_dataset+'customers.csv')
# products_df = pd.read_csv(path_dataset+'products.csv')
# orders_df = pd.read_csv(path_dataset+'orders.csv')
# order_items_df = pd.read_csv(path_dataset+'order_items.csv')
# reviews_df = pd.read_csv(path_dataset+'reviews.csv')

# print("Data loaded successfully!")
# print(f"Customers: {len(customers_df)} rows")
# print(f"Products: {len(products_df)} rows")
# print(f"Orders: {len(orders_df)} rows")
# print(f"Order Items: {len(order_items_df)} rows")
# print(f"Reviews: {len(reviews_df)} rows")

In [5]:

# Load CSV files
customers_df = pd.read_csv('customers.csv')
products_df = pd.read_csv('products.csv')
orders_df = pd.read_csv('orders.csv')
order_items_df = pd.read_csv('order_items.csv')
reviews_df = pd.read_csv('reviews.csv')

print("Data loaded successfully!")
print(f"Customers: {len(customers_df)} rows")
print(f"Products: {len(products_df)} rows")
print(f"Orders: {len(orders_df)} rows")
print(f"Order Items: {len(order_items_df)} rows")
print(f"Reviews: {len(reviews_df)} rows")

Data loaded successfully!
Customers: 1000 rows
Products: 200 rows
Orders: 2000 rows
Order Items: 5111 rows
Reviews: 1500 rows

In [6]:
# Create SQLite database
db_name = 'sample_database.sqlite'

# Remove existing database if it exists
if os.path.exists(db_name):
    os.remove(db_name)

# Create connection
conn = sqlite3.connect(db_name)

# Create tables from DataFrames
customers_df.to_sql('customers', conn, index=False, if_exists='replace')
products_df.to_sql('products', conn, index=False, if_exists='replace')
orders_df.to_sql('orders', conn, index=False, if_exists='replace')
order_items_df.to_sql('order_items', conn, index=False, if_exists='replace')
reviews_df.to_sql('reviews', conn, index=False, if_exists='replace')

conn.close()
print(f"SQLite database '{db_name}' created successfully!")

SQLite database 'sample_database.sqlite' created successfully!

In [7]:
min_date = orders_df['order_date'].min()
max_date = orders_df['order_date'].max()
print(f"Date range in orders: {min_date} to {max_date}")

Date range in orders: 2024-11-01 to 2025-11-01

In [8]:
# Let's examine our database schema
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

In [9]:
# Get table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Database Tables:")
for table in tables:
    table_name = table[0]
    print(f"\n--- {table_name.upper()} ---")
    
    # Get column info
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    
    for col in columns:
        print(f"  {col[1]} ({col[2]})")
    
    # Get row count
    cursor.execute(f"SELECT COUNT(*) FROM {table_name};")
    count = cursor.fetchone()[0]
    print(f"  Rows: {count}")

conn.close()

Database Tables:

--- CUSTOMERS ---
  customer_id (TEXT)
  first_name (TEXT)
  last_name (TEXT)
  email (TEXT)
  phone (TEXT)
  date_of_birth (TEXT)
  address (TEXT)
  city (TEXT)
  state (TEXT)
  country (TEXT)
  registration_date (TEXT)
  customer_status (TEXT)
  total_spent (REAL)
  Rows: 1000

--- PRODUCTS ---
  product_id (TEXT)
  product_name (TEXT)
  category (TEXT)
  price (REAL)
  cost (REAL)
  stock_quantity (INTEGER)
  supplier (TEXT)
  description (TEXT)
  created_date (TEXT)
  is_active (INTEGER)
  Rows: 200

--- ORDERS ---
  order_id (TEXT)
  customer_id (TEXT)
  order_date (TEXT)
  status (TEXT)
  total_amount (REAL)
  shipping_address (TEXT)
  payment_method (TEXT)
  Rows: 2000

--- ORDER_ITEMS ---
  item_id (TEXT)
  order_id (TEXT)
  product_id (TEXT)
  quantity (INTEGER)
  unit_price (REAL)
  total_price (REAL)
  Rows: 5111

--- REVIEWS ---
  review_id (TEXT)
  customer_id (TEXT)
  product_id (TEXT)
  rating (INTEGER)
  review_text (TEXT)
  review_date (TEXT)
  helpful_votes (INTEGER)
  Rows: 1500

## 4. Database Helper Functions

Let's create some helper functions to interact with our database safely.

In [10]:
def get_database_schema():
    """
    Get the complete database schema including tables, columns, and relationships
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    
    schema_info = {}
    
    # Get all tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [table[0] for table in cursor.fetchall()]
    
    for table in tables:
        # Get column information
        cursor.execute(f"PRAGMA table_info({table});")
        columns = cursor.fetchall()
        
        schema_info[table] = {
            'columns': [(col[1], col[2]) for col in columns],
            'sample_data': []
        }
        
        # Get sample data (first 3 rows)
        cursor.execute(f"SELECT * FROM {table} LIMIT 3;")
        sample_rows = cursor.fetchall()
        
        if sample_rows:
            column_names = [col[1] for col in columns]
            for row in sample_rows:
                schema_info[table]['sample_data'].append(dict(zip(column_names, row)))
    
    conn.close()
    return schema_info

def execute_sql_query(query, max_results=50):
    """
    Execute SQL query safely with result limiting. This function sanitizes the model output by:
    - removing code fences (```sql ... ```)
    - stripping trailing semicolons
    - if multiple statements are present, only the first statement is executed (we return a warning)
    """
    try:
        # Basic sanitization
        if not isinstance(query, str):
            return {'success': False, 'error': 'Query must be a string.'}

        raw_query = query.strip()

        # Remove Markdown/code fences if present
        if raw_query.startswith('```'):
            # remove any leading ```sql or ``` markers
            raw_query = raw_query.lstrip('`')
            raw_query = raw_query.replace('sql', '', 1).strip()
            raw_query = raw_query.replace('```', '').strip()

        # Remove any leading/trailing backticks and whitespace
        raw_query = raw_query.strip('`').strip()

        # Split on semicolons to detect multiple statements; keep only the first non-empty statement
        statements = [s.strip() for s in raw_query.split(';') if s.strip()]

        warning = None
        if len(statements) == 0:
            return {'success': False, 'error': 'No valid SQL statement found.'}
        elif len(statements) > 1:
            # If the model returned multiple statements, only execute the first one for safety
            warning = f'Provided input contained multiple SQL statements; only the first will be executed.'
        
        sanitized_query = statements[0]

        # Ensure SELECT queries get a LIMIT to avoid huge results (unless it's an aggregate like COUNT)
        upper_q = sanitized_query.upper()
        if upper_q.startswith('SELECT') and 'LIMIT' not in upper_q and 'COUNT(' not in upper_q:
            sanitized_query = sanitized_query + f' LIMIT {max_results}'

        conn = sqlite3.connect(db_name)
        cursor = conn.cursor()
        
        # Execute only the sanitized single statement
        cursor.execute(sanitized_query)
        
        if sanitized_query.strip().upper().startswith('SELECT'):
            results = cursor.fetchall()
            column_names = [description[0] for description in cursor.description] if cursor.description else []
            
            # Convert to list of dictionaries for better display
            formatted_results = [dict(zip(column_names, row)) for row in results]
            
            conn.close()
            out = {
                'success': True,
                'results': formatted_results,
                'column_names': column_names,
                'row_count': len(formatted_results)
            }
            if warning:
                out['warning'] = warning
            return out
        else:
            conn.commit()
            affected = cursor.rowcount
            conn.close()
            out = {
                'success': True,
                'message': 'Query executed successfully',
                'affected_rows': affected
            }
            if warning:
                out['warning'] = warning
            return out

    except Exception as e:
        if 'conn' in locals():
            conn.close()
        return {
            'success': False,
            'error': str(e)
        }

In [11]:
# Test our helper functions
schema = get_database_schema()
print("Database schema loaded successfully!")
print(f"Tables: {list(schema.keys())}")

Database schema loaded successfully!
Tables: ['customers', 'products', 'orders', 'order_items', 'reviews']

## 5. Basic Text-to-SQL Conversion

Let's start with a simple text-to-SQL conversion using the LLM directly.

In [12]:
def create_schema_prompt():
    """Create a detailed schema description for the LLM"""
    schema = get_database_schema()
    
    schema_description = """
    DATABASE SCHEMA:
    This is an e-commerce database with the following tables and relationships:

    """
    
    for table_name, table_info in schema.items():
        schema_description += f"\n{table_name.upper()} TABLE:\n"
        schema_description += "Columns:\n"
        
        for column_name, column_type in table_info['columns']:
            schema_description += f"  - {column_name} ({column_type})\n"
        
        if table_info['sample_data']:
            schema_description += "\nSample data:\n"
            for i, sample in enumerate(table_info['sample_data'][:2]):
                schema_description += f"  Row {i+1}: {sample}\n"
        
        schema_description += "\n"
    
    schema_description += """
KEY RELATIONSHIPS:
- customers.customer_id ‚Üí orders.customer_id
- orders.order_id ‚Üí order_items.order_id  
- products.product_id ‚Üí order_items.product_id
- customers.customer_id ‚Üí reviews.customer_id
- products.product_id ‚Üí reviews.product_id

IMPORTANT NOTES:
- Use proper JOIN statements when querying multiple tables
- Always include LIMIT clause for large result sets
- Use aggregate functions (COUNT, SUM, AVG) for analytical queries
- Handle date filtering properly (dates are stored as text in YYYY-MM-DD format)
"""
    
    return schema_description

In [13]:
# Test schema prompt
schema_prompt = create_schema_prompt()
print("Schema prompt created!")
print("First 500 characters:")
print(schema_prompt[:500] + "...")

Schema prompt created!
First 500 characters:

    DATABASE SCHEMA:
    This is an e-commerce database with the following tables and relationships:


CUSTOMERS TABLE:
Columns:
  - customer_id (TEXT)
  - first_name (TEXT)
  - last_name (TEXT)
  - email (TEXT)
  - phone (TEXT)
  - date_of_birth (TEXT)
  - address (TEXT)
  - city (TEXT)
  - state (TEXT)
  - country (TEXT)
  - registration_date (TEXT)
  - customer_status (TEXT)
  - total_spent (REAL)

Sample data:
  Row 1: {'customer_id': 'bdd640fb-0667-4ad1-9c80-317fa3b1799d', 'first_name'...

In [14]:
def text_to_sql_basic(natural_language_query):
    """
    Convert natural language query to SQL using basic prompting with new OpenAI API
    """
    
    system_prompt = f"""You are a SQL expert. Convert natural language queries to SQL.

{create_schema_prompt()}

Rules:
1. Generate only valid SQLite SQL queries
2. Always use proper JOINs when accessing multiple tables
3. Include LIMIT 50 by default unless user specifies otherwise
4. Use appropriate WHERE clauses for filtering
5. Return only the SQL query, no explanations

Convert the following natural language query to SQL:"""

    try:
        response = client.responses.create(
            model=MODEL,
            input=[
                {"role": "system", "content": system_prompt},
                {"role": "user", "content": natural_language_query}
            ]
        )
        
        sql_query = response.output_text.strip()
        
        # Clean up the response (remove markdown if present)
        if sql_query.startswith('```sql'):
            sql_query = sql_query.replace('```sql', '').replace('```', '').strip()
        elif sql_query.startswith('```'):
            sql_query = sql_query.replace('```', '').strip()
            
        return sql_query
        
    except Exception as e:
        return f"Error generating SQL: {str(e)}"

In [15]:
# Test basic text-to-SQL
query1 = "Show me the first 10 customers"
sql1 = text_to_sql_basic(query1)
print(f"Query: {query1}")
print(f"Generated SQL: {sql1}")

Query: Show me the first 10 customers
Generated SQL: SELECT *
FROM customers
LIMIT 10;

In [16]:
# Execute the query
result1 = execute_sql_query(sql1)
if result1['success']:
    print(f"Results ({result1['row_count']} rows):")
    for i, row in enumerate(result1['results'][:5]):
        print(f"  {i+1}: {row}")
else:
    print(f"Error: {result1['error']}")

Results (10 rows):
  1: {'customer_id': 'bdd640fb-0667-4ad1-9c80-317fa3b1799d', 'first_name': 'Joshua', 'last_name': 'Walker', 'email': 'rhodespatricia@example.org', 'phone': '001-260-501-3389', 'date_of_birth': '1989-12-11', 'address': '79402 Peterson Drives Apt. 511, Davisstad, PA 35172', 'city': 'Lake Stephenville', 'state': 'Missouri', 'country': 'Belgium', 'registration_date': '2024-12-09', 'customer_status': 'Premium', 'total_spent': 565.54}
  2: {'customer_id': 'e2acf72f-9e57-4f7a-a0ee-89aed453dd32', 'first_name': 'Michelle', 'last_name': 'Ray', 'email': 'williamsjeremy@example.com', 'phone': '731-564-7525', 'date_of_birth': '1987-01-21', 'address': '283 Steven Groves, Lake Mark, WI 07832', 'city': 'Port Antonio', 'state': 'Massachusetts', 'country': 'Iran', 'registration_date': '2024-05-15', 'customer_status': 'Premium', 'total_spent': 1382.4}
  3: {'customer_id': '9132b63e-f162-47e4-a9c3-49e03602f8ac', 'first_name': 'Nancy', 'last_name': 'Edwards', 'email': 'pfoster@example.com', 'phone': '(842)738-8496', 'date_of_birth': '1958-08-27', 'address': 'Unit 8710 Box 1226, DPO AP 08827', 'city': 'Jamesmouth', 'state': 'North Dakota', 'country': 'El Salvador', 'registration_date': '2025-10-11', 'customer_status': 'Active', 'total_spent': 706.29}
  4: {'customer_id': 'ae270da7-02f0-4b90-b143-262fdc5c0eed', 'first_name': 'Jennifer', 'last_name': 'Maldonado', 'email': 'kayla51@example.com', 'phone': '(727)404-8281x48932', 'date_of_birth': '1978-10-26', 'address': '570 Sarah Wells, Johnbury, FM 74865', 'city': 'North Jessicaland', 'state': 'Wisconsin', 'country': 'Martinique', 'registration_date': '2025-05-14', 'customer_status': 'Active', 'total_spent': 3386.73}
  5: {'customer_id': 'f264accc-79ac-4b1e-a8e5-6e0c20de435d', 'first_name': 'Andrea', 'last_name': 'Baker', 'email': 'ibrandt@example.net', 'phone': '001-734-265-7871x331', 'date_of_birth': '1981-11-24', 'address': '10310 Jones Freeway, Elizabethborough, ND 17843', 'city': 'Sanchezfort', 'state': 'Nebraska', 'country': 'Comoros', 'registration_date': '2024-01-09', 'customer_status': 'Premium', 'total_spent': 443.82}

In [19]:
# Test more complex queries
import time

test_queries = [
    "How many orders were placed last 12 months?",
    "What are the top 5 most expensive products?",
    "Show me customers from New York who have placed orders",
    "What's the average order value?",
    "Which products have the highest ratings?"
]

print("Starting query tests...")
print("=" * 60)

for i, query in enumerate(test_queries, 1):
    print(f"\nüîç Query {i}/{len(test_queries)}")
    print(f"Question: {query}")
    print("-" * 60)
    
    # Generate SQL
    sql = text_to_sql_basic(query)
    print(f"Generated SQL:\n{sql}")
    
    # Execute query
    result = execute_sql_query(sql)
    
    if result['success']:
        print(f"\n‚úÖ Success - {result['row_count']} rows returned")
        
        # Show warning if present
        if 'warning' in result:
            print(f"‚ö†Ô∏è  {result['warning']}")
        
        # Display sample results
        if result['results']:
            print("\nüìä Sample results:")
            for idx, row in enumerate(result['results'][:3], 1):
                print(f"  {idx}. {row}")
    else:
        print(f"\n‚ùå Error: {result['error']}")
    
    # Small delay to ensure API calls are distinct
    if i < len(test_queries):
        time.sleep(0.5)

print("\n" + "=" * 60)
print(f"‚úÖ Completed {len(test_queries)} queries")

Starting query tests...
============================================================

üîç Query 1/5
Question: How many orders were placed last 12 months?
------------------------------------------------------------
Generated SQL:
SELECT COUNT(*) AS total_orders
FROM orders
WHERE order_date >= date('now', '-12 months');

‚úÖ Success - 1 rows returned

üìä Sample results:
  1. {'total_orders': 1986}
Generated SQL:
SELECT COUNT(*) AS total_orders
FROM orders
WHERE order_date >= date('now', '-12 months');

‚úÖ Success - 1 rows returned

üìä Sample results:
  1. {'total_orders': 1986}

üîç Query 2/5
Question: What are the top 5 most expensive products?
------------------------------------------------------------

üîç Query 2/5
Question: What are the top 5 most expensive products?
------------------------------------------------------------
Generated SQL:
SELECT product_id, product_name, category, price
FROM products
ORDER BY price DESC
LIMIT 5;

‚úÖ Success - 5 rows returned

üìä Sample results:
  1. {'product_id': '8e45af18-5f9e-4bb3-aff5-fb49d38c03cd', 'product_name': 'Front-line next generation hierarchy', 'category': 'Beauty', 'price': 997.71}
  2. {'product_id': '37f49d45-addf-4328-b50c-5cdc3aeda3f5', 'product_name': 'Front-line local pricing structure', 'category': 'Beauty', 'price': 992.89}
  3. {'product_id': 'cdf75ce7-72c2-4020-968b-69c9a515dce0', 'product_name': 'Intuitive foreground capability', 'category': 'Clothing', 'price': 986.21}
Generated SQL:
SELECT product_id, product_name, category, price
FROM products
ORDER BY price DESC
LIMIT 5;

‚úÖ Success - 5 rows returned

üìä Sample results:
  1. {'product_id': '8e45af18-5f9e-4bb3-aff5-fb49d38c03cd', 'product_name': 'Front-line next generation hierarchy', 'category': 'Beauty', 'price': 997.71}
  2. {'product_id': '37f49d45-addf-4328-b50c-5cdc3aeda3f5', 'product_name': 'Front-line local pricing structure', 'category': 'Beauty', 'price': 992.89}
  3. {'product_id': 'cdf75ce7-72c2-4020-968b-69c9a515dce0', 'product_name': 'Intuitive foreground capability', 'category': 'Clothing', 'price': 986.21}

üîç Query 3/5
Question: Show me customers from New York who have placed orders
------------------------------------------------------------

üîç Query 3/5
Question: Show me customers from New York who have placed orders
------------------------------------------------------------
Generated SQL:
SELECT DISTINCT c.*
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
WHERE c.state = 'New York'
LIMIT 50;

‚úÖ Success - 18 rows returned

üìä Sample results:
  1. {'customer_id': 'c2b01cfd-d045-4d1c-a684-09e3f1f8343e', 'first_name': 'Andrea', 'last_name': 'Gibson', 'email': 'johnny16@example.net', 'phone': '9879603859', 'date_of_birth': '1992-09-18', 'address': '7710 Jennifer Inlet, New Rickybury, MP 15372', 'city': 'Valentineberg', 'state': 'New York', 'country': 'Venezuela', 'registration_date': '2025-04-08', 'customer_status': 'Premium', 'total_spent': 632.88}
  2. {'customer_id': '6a5d932b-45ff-4c83-b495-db4e82456fb4', 'first_name': 'Mary', 'last_name': 'Baird', 'email': 'stephenthomas@example.org', 'phone': '+1-982-414-6584x044', 'date_of_birth': '1972-12-20', 'address': '867 Kane Square Apt. 963, Williamsfort, VT 50469', 'city': 'Mcneilberg', 'state': 'New York', 'country': 'Argentina', 'registration_date': '2024-02-02', 'customer_status': 'Inactive', 'total_spent': 403.21}
  3. {'customer_id': 'df482e7c-a8cf-4f62-90d9-170cf2dec75c', 'first_name': 'Tammy', 'last_name': 'Fitzgerald', 'email': 'ccrosby@example.org', 'phone': '001-273-214-5303x85677', 'date_of_birth': '2006-08-12', 'address': '498 Nicholas Lane Suite 918, Nicholasbury, NC 53695', 'city': 'Lisastad', 'state': 'New York', 'country': 'Somalia', 'registration_date': '2024-10-19', 'customer_status': 'Inactive', 'total_spent': 1079.04}
Generated SQL:
SELECT DISTINCT c.*
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
WHERE c.state = 'New York'
LIMIT 50;

‚úÖ Success - 18 rows returned

üìä Sample results:
  1. {'customer_id': 'c2b01cfd-d045-4d1c-a684-09e3f1f8343e', 'first_name': 'Andrea', 'last_name': 'Gibson', 'email': 'johnny16@example.net', 'phone': '9879603859', 'date_of_birth': '1992-09-18', 'address': '7710 Jennifer Inlet, New Rickybury, MP 15372', 'city': 'Valentineberg', 'state': 'New York', 'country': 'Venezuela', 'registration_date': '2025-04-08', 'customer_status': 'Premium', 'total_spent': 632.88}
  2. {'customer_id': '6a5d932b-45ff-4c83-b495-db4e82456fb4', 'first_name': 'Mary', 'last_name': 'Baird', 'email': 'stephenthomas@example.org', 'phone': '+1-982-414-6584x044', 'date_of_birth': '1972-12-20', 'address': '867 Kane Square Apt. 963, Williamsfort, VT 50469', 'city': 'Mcneilberg', 'state': 'New York', 'country': 'Argentina', 'registration_date': '2024-02-02', 'customer_status': 'Inactive', 'total_spent': 403.21}
  3. {'customer_id': 'df482e7c-a8cf-4f62-90d9-170cf2dec75c', 'first_name': 'Tammy', 'last_name': 'Fitzgerald', 'email': 'ccrosby@example.org', 'phone': '001-273-214-5303x85677', 'date_of_birth': '2006-08-12', 'address': '498 Nicholas Lane Suite 918, Nicholasbury, NC 53695', 'city': 'Lisastad', 'state': 'New York', 'country': 'Somalia', 'registration_date': '2024-10-19', 'customer_status': 'Inactive', 'total_spent': 1079.04}

üîç Query 4/5
Question: What's the average order value?
------------------------------------------------------------

üîç Query 4/5
Question: What's the average order value?
------------------------------------------------------------
Generated SQL:
SELECT AVG(total_amount) AS average_order_value
FROM orders
LIMIT 50;

‚úÖ Success - 1 rows returned

üìä Sample results:
  1. {'average_order_value': 3741.334679999999}
Generated SQL:
SELECT AVG(total_amount) AS average_order_value
FROM orders
LIMIT 50;

‚úÖ Success - 1 rows returned

üìä Sample results:
  1. {'average_order_value': 3741.334679999999}

üîç Query 5/5
Question: Which products have the highest ratings?
------------------------------------------------------------

üîç Query 5/5
Question: Which products have the highest ratings?
------------------------------------------------------------
Generated SQL:
SELECT
    p.product_id,
    p.product_name,
    AVG(r.rating) AS average_rating,
    COUNT(r.review_id) AS total_reviews
FROM
    products p
JOIN
    reviews r ON p.product_id = r.product_id
GROUP BY
    p.product_id, p.product_name
ORDER BY
    average_rating DESC
LIMIT 50;

‚úÖ Success - 50 rows returned

üìä Sample results:
  1. {'product_id': 'd99ba0cb-7159-44c6-bd8d-7fed6f297877', 'product_name': 'Reverse-engineered foreground info-mediaries', 'average_rating': 4.666666666666667, 'total_reviews': 6}
  2. {'product_id': '2e85b4cc-62fb-4e4c-ad5b-d2475730bfe0', 'product_name': 'Organized real-time functionalities', 'average_rating': 4.5, 'total_reviews': 4}
  3. {'product_id': 'b1dc12c8-a3a0-49ab-bd09-f837c593a9eb', 'product_name': 'Fully-configurable upward-trending instruction set', 'average_rating': 4.5, 'total_reviews': 2}

============================================================
‚úÖ Completed 5 queries
Generated SQL:
SELECT
    p.product_id,
    p.product_name,
    AVG(r.rating) AS average_rating,
    COUNT(r.review_id) AS total_reviews
FROM
    products p
JOIN
    reviews r ON p.product_id = r.product_id
GROUP BY
    p.product_id, p.product_name
ORDER BY
    average_rating DESC
LIMIT 50;

‚úÖ Success - 50 rows returned

üìä Sample results:
  1. {'product_id': 'd99ba0cb-7159-44c6-bd8d-7fed6f297877', 'product_name': 'Reverse-engineered foreground info-mediaries', 'average_rating': 4.666666666666667, 'total_reviews': 6}
  2. {'product_id': '2e85b4cc-62fb-4e4c-ad5b-d2475730bfe0', 'product_name': 'Organized real-time functionalities', 'average_rating': 4.5, 'total_reviews': 4}
  3. {'product_id': 'b1dc12c8-a3a0-49ab-bd09-f837c593a9eb', 'product_name': 'Fully-configurable upward-trending instruction set', 'average_rating': 4.5, 'total_reviews': 2}

============================================================
‚úÖ Completed 5 queries

### üîÑ Important: Clear Output Before Running

**If you see duplicate outputs:**
1. Click "Clear All Outputs" button in the notebook toolbar
2. Click "Restart" in the kernel selector
3. Re-run the necessary setup cells (imports, client init, helper functions, text_to_sql_basic)
4. Then run the test cell below

This ensures a clean execution without overlapping outputs from previous runs.

In [20]:
# Quick verification: Run this cell to confirm clean state
import sys
print("‚úÖ Kernel state check:")
print(f"   Python version: {sys.version.split()[0]}")
print(f"   OpenAI client initialized: {'client' in dir()}")
print(f"   Database helpers loaded: {'execute_sql_query' in dir()}")
print(f"   Text-to-SQL function loaded: {'text_to_sql_basic' in dir()}")
print("\nüí° If all show True, you're ready to run the test queries!")

‚úÖ Kernel state check:
   Python version: 3.12.0
   OpenAI client initialized: True
   Database helpers loaded: True
   Text-to-SQL function loaded: True

üí° If all show True, you're ready to run the test queries!

## 6. Function Calling for Text-to-SQL

Now let's create a more sophisticated agent using function calling. This allows the AI to execute queries and provide natural language responses.

In [21]:
# Define SQL execution function for function calling
sql_execution_function = {
    "type": "function",
    "name": "execute_sql",
    "description": "Execute a SQL query on the database and return the results",
    "parameters": {
        "type": "object",
        "properties": {
            "query": {
                "type": "string",
                "description": "The SQL query to execute",
            },
        },
        "required": ["query"],
    },
}

# Define database schema function
schema_function = {
    "type": "function",
    "name": "get_database_schema",
    "description": "Get information about database tables, columns, and sample data",
    "parameters": {
        "type": "object",
        "properties": {},
        "required": []
    }
}

available_functions = [sql_execution_function, schema_function]

In [22]:
def sql_agent_with_functions(user_query, conversation_history=None):
    """
    Advanced SQL agent using function calling with new OpenAI API
    """
    if conversation_history is None:
        conversation_history = []
    
    system_prompt = f"""You are an intelligent database assistant that helps users query an e-commerce database using natural language.

{create_schema_prompt()}

Your capabilities:
1. Convert natural language to SQL queries
2. Execute SQL queries safely 
3. Interpret and explain results in natural language
4. Handle follow-up questions and maintain context

Guidelines:
- Always use proper JOINs for multi-table queries
- Include appropriate WHERE clauses for filtering
- Use LIMIT to prevent overwhelming results
- Provide clear, helpful explanations of results
- Ask for clarification if the query is ambiguous
- If a query fails, suggest corrections

Be conversational and helpful in your responses."""

    input_list = [{"role": "system", "content": system_prompt}]
    
    # Add conversation history
    if conversation_history:
        input_list.extend(conversation_history)
    
    # Add current user query
    input_list.append({"role": "user", "content": user_query})
    
    # Define tools list
    tools = [sql_execution_function, schema_function]
    
    try:
        # First LLM call to decide what to do
        response = client.responses.create(
            model=MODEL,
            input=input_list,
            tools=tools
        )
        
        # Save function call outputs for subsequent requests
        input_list += response.output
        
        # Check if the model wants to call a function
        has_function_calls = False
        for item in response.output:
            if item.type == "function_call":
                has_function_calls = True
                function_name = item.name
                function_args = json.loads(item.arguments)
                
                print(f"üîß Executing: {function_name}")
                if 'query' in function_args:
                    print(f"üìù SQL: {function_args['query']}")
                
                # Call the appropriate function
                if function_name == "execute_sql":
                    function_result = execute_sql_query(function_args['query'])
                elif function_name == "get_database_schema":
                    function_result = get_database_schema()
                else:
                    function_result = {"error": "Unknown function"}
                
                # Add function result to input
                input_list.append({
                    "type": "function_call_output",
                    "call_id": item.call_id,
                    "output": json.dumps(function_result)
                })
        
        if has_function_calls:
            # Get final response from the model
            final_response = client.responses.create(
                model=MODEL,
                input=input_list,
                tools=tools
            )
            
            function_call_count = sum(1 for item in response.output if item.type == "function_call")
            
            return {
                'response': final_response.output_text,
                'messages': input_list,
                'function_calls': function_call_count
            }
        
        else:
            # No function call needed, return direct response
            return {
                'response': response.output_text,
                'messages': input_list,
                'function_calls': 0
            }
            
    except Exception as e:
        return {
            'response': f"I encountered an error: {str(e)}",
            'messages': input_list,
            'function_calls': 0
        }

In [23]:
# Test the SQL agent
test_query = "Show me the top 5 customers by total spending"
result = sql_agent_with_functions(test_query)

print("ü§ñ Agent Response:")
print(result['response'])
print(f"\nüìä Function calls made: {result['function_calls']}")

üîß Executing: execute_sql
üìù SQL: SELECT first_name, last_name, email, total_spent
FROM customers
ORDER BY total_spent DESC
LIMIT 5;
ü§ñ Agent Response:
Here are the top 5 customers by total spending:

1. Theresa Stone (shawn21@example.org) ‚Äì $4,997.98
2. Ronald Zhang (jonathan54@example.com) ‚Äì $4,997.87
3. Sean Coleman (meredithnunez@example.org) ‚Äì $4,996.87
4. Jennifer Smith (dianahebert@example.org) ‚Äì $4,996.42
5. Jennifer Robinson (danielthomas@example.com) ‚Äì $4,994.52

These customers have spent the most on your platform. Would you like to see more details about their purchases or another breakdown?

üìä Function calls made: 1
ü§ñ Agent Response:
Here are the top 5 customers by total spending:

1. Theresa Stone (shawn21@example.org) ‚Äì $4,997.98
2. Ronald Zhang (jonathan54@example.com) ‚Äì $4,997.87
3. Sean Coleman (meredithnunez@example.org) ‚Äì $4,996.87
4. Jennifer Smith (dianahebert@example.org) ‚Äì $4,996.42
5. Jennifer Robinson (danielthomas@example.com) ‚Äì $4,994.52

These customers have spent the most on your platform. Would you like to see more details about their purchases or another breakdown?

üìä Function calls made: 1

In [24]:
# Test more complex scenarios
complex_queries = [
    "What's the most popular product category?",
    "Show me orders from the last 30 days",
    "Which customers have never left a review?",
    "What's the average rating for Electronics products?",
    "Find customers who have spent more than $1000 and show their details"
]

for i, query in enumerate(complex_queries):
    print(f"\nQuery:{i+1} {'='*60}")
    print(f"üîç Query: {query}")
    print("-" * 60)
    
    result = sql_agent_with_functions(query)
    print("ü§ñ Response:")
    print(result['response'])
    print(f"üìä Function calls: {result['function_calls']}")

Query:1 ============================================================
üîç Query: What's the most popular product category?
------------------------------------------------------------
üîß Executing: execute_sql
üìù SQL: SELECT p.category, COUNT(oi.item_id) AS items_sold
FROM products p
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.category
ORDER BY items_sold DESC
LIMIT 1;
üîß Executing: execute_sql
üìù SQL: SELECT p.category, COUNT(oi.item_id) AS items_sold
FROM products p
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.category
ORDER BY items_sold DESC
LIMIT 1;
ü§ñ Response:
The most popular product category is Food, with the highest number of items sold. If you'd like to see the top few categories or get more detail, just let me know!
üìä Function calls: 1

Query:2 ============================================================
üîç Query: Show me orders from the last 30 days
------------------------------------------------------------
ü§ñ Response:
The most popular product category is Food, with the highest number of items sold. If you'd like to see the top few categories or get more detail, just let me know!
üìä Function calls: 1

Query:2 ============================================================
üîç Query: Show me orders from the last 30 days
------------------------------------------------------------
üîß Executing: execute_sql
üìù SQL: SELECT order_id, customer_id, order_date, status, total_amount, shipping_address, payment_method
FROM orders
WHERE order_date >= DATE('now', '-30 day')
ORDER BY order_date DESC
LIMIT 50;
üîß Executing: execute_sql
üìù SQL: SELECT order_id, customer_id, order_date, status, total_amount, shipping_address, payment_method
FROM orders
WHERE order_date >= DATE('now', '-30 day')
ORDER BY order_date DESC
LIMIT 50;
ü§ñ Response:
Here are the most recent orders placed in the last 30 days (showing up to 50 results):

- 2025-11-01: Order ID 9ba7e03b-db88-494c-9024-c9228b086127 | Customer ID 0b022156-82a0-46e9-8b44-aa7165454a72 | Status: Cancelled | Amount: $3,633.53 | Payment: Credit Card
- 2025-11-01: Order ID 46413ebe-7fee-4fe3-a911-3bd0ef9257e9 | Customer ID b9ee2247-09fc-4dac-979e-f85745de0e0b | Status: Cancelled | Amount: $2,521.35 | Payment: Bank Transfer
- 2025-11-01: Order ID 3119c0b9-1db9-4db5-85e0-878aed9270cc | Customer ID c4c93949-6334-4ca6-904f-0a710ef473a2 | Status: Pending   | Amount: $6,830.60 | Payment: PayPal
- 2025-10-31: Order ID cb513d85-29df-4b04-93c9-e1314c5ce9d0 | Customer ID f814af2e-81e2-4ceb-8032-8c40b1000314 | Status: Cancelled | Amount: $14,861.90 | Payment: Bank Transfer
- 2025-10-31: Order ID fc54168f-cf73-485f-9cd8-26ef79117a00 | Customer ID 8e382a3d-92b8-4f90-8a24-cbe1e0941981 | Status: Delivered | Amount: $1,511.50 | Payment: PayPal

...and many more.

If you need specific details about a particular order, customer, or want to narrow down the results (for example, only delivered orders), just let me know!
üìä Function calls: 1

Query:3 ============================================================
üîç Query: Which customers have never left a review?
------------------------------------------------------------
ü§ñ Response:
Here are the most recent orders placed in the last 30 days (showing up to 50 results):

- 2025-11-01: Order ID 9ba7e03b-db88-494c-9024-c9228b086127 | Customer ID 0b022156-82a0-46e9-8b44-aa7165454a72 | Status: Cancelled | Amount: $3,633.53 | Payment: Credit Card
- 2025-11-01: Order ID 46413ebe-7fee-4fe3-a911-3bd0ef9257e9 | Customer ID b9ee2247-09fc-4dac-979e-f85745de0e0b | Status: Cancelled | Amount: $2,521.35 | Payment: Bank Transfer
- 2025-11-01: Order ID 3119c0b9-1db9-4db5-85e0-878aed9270cc | Customer ID c4c93949-6334-4ca6-904f-0a710ef473a2 | Status: Pending   | Amount: $6,830.60 | Payment: PayPal
- 2025-10-31: Order ID cb513d85-29df-4b04-93c9-e1314c5ce9d0 | Customer ID f814af2e-81e2-4ceb-8032-8c40b1000314 | Status: Cancelled | Amount: $14,861.90 | Payment: Bank Transfer
- 2025-10-31: Order ID fc54168f-cf73-485f-9cd8-26ef79117a00 | Customer ID 8e382a3d-92b8-4f90-8a24-cbe1e0941981 | Status: Delivered | Amount: $1,511.50 | Payment: PayPal

...and many more.

If you need specific details about a particular order, customer, or want to narrow down the results (for example, only delivered orders), just let me know!
üìä Function calls: 1

Query:3 ============================================================
üîç Query: Which customers have never left a review?
------------------------------------------------------------
üîß Executing: execute_sql
üìù SQL: SELECT c.customer_id, c.first_name, c.last_name, c.email
FROM customers c
LEFT JOIN reviews r ON c.customer_id = r.customer_id
WHERE r.review_id IS NULL
LIMIT 50;
üîß Executing: execute_sql
üìù SQL: SELECT c.customer_id, c.first_name, c.last_name, c.email
FROM customers c
LEFT JOIN reviews r ON c.customer_id = r.customer_id
WHERE r.review_id IS NULL
LIMIT 50;
ü§ñ Response:
Here are some customers who have never left a review:

- Michelle Ray (williamsjeremy@example.com)
- Nancy Edwards (pfoster@example.com)
- Robert Shields (nuneztracey@example.org)
- James Sellers (kevin33@example.org)
- Amanda Ball (michaeljones@example.net)
- Joshua Carlson (angela83@example.org)
- Craig Kirk (foxstephen@example.net)
- Maria Scott (scoffey@example.net)
- Paul Watson (umatthews@example.org)
- William Ford (colelisa@example.net)

...and many more (showing the first 50 results).

If you need the complete list or more information about any specific customer, just let me know!
üìä Function calls: 1

Query:4 ============================================================
üîç Query: What's the average rating for Electronics products?
------------------------------------------------------------
ü§ñ Response:
Here are some customers who have never left a review:

- Michelle Ray (williamsjeremy@example.com)
- Nancy Edwards (pfoster@example.com)
- Robert Shields (nuneztracey@example.org)
- James Sellers (kevin33@example.org)
- Amanda Ball (michaeljones@example.net)
- Joshua Carlson (angela83@example.org)
- Craig Kirk (foxstephen@example.net)
- Maria Scott (scoffey@example.net)
- Paul Watson (umatthews@example.org)
- William Ford (colelisa@example.net)

...and many more (showing the first 50 results).

If you need the complete list or more information about any specific customer, just let me know!
üìä Function calls: 1

Query:4 ============================================================
üîç Query: What's the average rating for Electronics products?
------------------------------------------------------------
üîß Executing: execute_sql
üìù SQL: SELECT AVG(r.rating) AS avg_rating
FROM reviews r
JOIN products p ON r.product_id = p.product_id
WHERE p.category = 'Electronics';
üîß Executing: execute_sql
üìù SQL: SELECT AVG(r.rating) AS avg_rating
FROM reviews r
JOIN products p ON r.product_id = p.product_id
WHERE p.category = 'Electronics';
ü§ñ Response:
The average rating for Electronics products is approximately 3.29 out of 5. This means customer feedback for items in this category is generally moderate, but there may be room for improvement in product quality or customer experience. If you'd like to see the ratings breakdown or specific products, just let me know!
üìä Function calls: 1

Query:5 ============================================================
üîç Query: Find customers who have spent more than $1000 and show their details
------------------------------------------------------------
ü§ñ Response:
The average rating for Electronics products is approximately 3.29 out of 5. This means customer feedback for items in this category is generally moderate, but there may be room for improvement in product quality or customer experience. If you'd like to see the ratings breakdown or specific products, just let me know!
üìä Function calls: 1

Query:5 ============================================================
üîç Query: Find customers who have spent more than $1000 and show their details
------------------------------------------------------------
üîß Executing: execute_sql
üìù SQL: SELECT * FROM customers WHERE total_spent > 1000 LIMIT 50;
üîß Executing: execute_sql
üìù SQL: SELECT * FROM customers WHERE total_spent > 1000 LIMIT 50;
ü§ñ Response:
Here are customers who have spent more than $1000, along with their details:

1. Michelle Ray ‚Äî williamsjeremy@example.com, Phone: 731-564-7525, City: Port Antonio, Country: Iran, Status: Premium, Total Spent: $1382.40
2. Jennifer Maldonado ‚Äî kayla51@example.com, Phone: (727)404-8281x48932, City: North Jessicaland, Country: Martinique, Status: Active, Total Spent: $3386.73
3. Spencer Henderson ‚Äî smoore@example.org, Phone: 4982050097, City: Jamesmouth, Country: Estonia, Status: Active, Total Spent: $1101.00
4. Leslie Walton ‚Äî smithchristine@example.net, Phone: 518-738-4251, City: Jamesview, Country: Liechtenstein, Status: Premium, Total Spent: $3014.07
5. Cynthia Calderon ‚Äî smithkellie@example.net, Phone: 727-486-8011x280, City: West Erik, Country: Botswana, Status: Premium, Total Spent: $1002.20

...and more (there are 50 such customers in the results).

Would you like the full list, a specific customer's information, or a summary? Let me know how you'd like to use this data!
üìä Function calls: 1
ü§ñ Response:
Here are customers who have spent more than $1000, along with their details:

1. Michelle Ray ‚Äî williamsjeremy@example.com, Phone: 731-564-7525, City: Port Antonio, Country: Iran, Status: Premium, Total Spent: $1382.40
2. Jennifer Maldonado ‚Äî kayla51@example.com, Phone: (727)404-8281x48932, City: North Jessicaland, Country: Martinique, Status: Active, Total Spent: $3386.73
3. Spencer Henderson ‚Äî smoore@example.org, Phone: 4982050097, City: Jamesmouth, Country: Estonia, Status: Active, Total Spent: $1101.00
4. Leslie Walton ‚Äî smithchristine@example.net, Phone: 518-738-4251, City: Jamesview, Country: Liechtenstein, Status: Premium, Total Spent: $3014.07
5. Cynthia Calderon ‚Äî smithkellie@example.net, Phone: 727-486-8011x280, City: West Erik, Country: Botswana, Status: Premium, Total Spent: $1002.20

...and more (there are 50 such customers in the results).

Would you like the full list, a specific customer's information, or a summary? Let me know how you'd like to use this data!
üìä Function calls: 1

## 7. Conversational SQL Interface

Let's create a conversational interface that maintains context across multiple queries.

In [32]:
class ConversationalSQLAgent:
    def __init__(self):
        self.conversation_history = []
        self.session_context = {}
    
    def query(self, user_input):
        """Process a user query and maintain conversation context"""
        
        # Add user message to history
        self.conversation_history.append({"role": "user", "content": user_input})
        
        # Get response from SQL agent
        result = sql_agent_with_functions(user_input, self.conversation_history[:-1])
        
        # Add assistant response to history
        self.conversation_history.append({"role": "assistant", "content": result['response']})
        
        # Keep history manageable (last 10 messages)
        if len(self.conversation_history) > 10:
            self.conversation_history = self.conversation_history[-10:]
        
        return result
    
    def clear_history(self):
        """Clear conversation history"""
        self.conversation_history = []
        self.session_context = {}
    
    def get_history_summary(self):
        """Get a summary of the conversation"""
        return f"Conversation length: {len(self.conversation_history)} messages"

# Create conversational agent
agent = ConversationalSQLAgent()

print("üéØ Conversational SQL Agent Started!")
print("=" * 50)

üéØ Conversational SQL Agent Started!
==================================================

In [34]:
# Simulate a conversation
conversation_queries = [
    "How many customers do we have?",
    "What about active customers only?", 
    "Show me their average spending",
    "Which of these customers are from California?",
    "What products did they buy most often?"
]

for i, query in enumerate(conversation_queries, 1):
    print(f"\nüîÑ Turn {i}: {query}")
    print("-" * 40)
    
    result = agent.query(query)
    print("ü§ñ Agent:")
    print(result['response'])
    
    if i < len(conversation_queries):
        print("\n‚è≥ (continuing conversation...)")
        
print(f"\nüìà {agent.get_history_summary()}")

üîÑ Turn 1: How many customers do we have?
----------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT COUNT(*) AS total_customers FROM CUSTOMERS;
üí≠ Explanation: This query counts the total number of customers in the CUSTOMERS table.
ü§ñ Agent:
It seems there was an issue executing the query to count the total number of customers. Let me try again to get that information for you.

I'll run a simple count query now. Please hold on.

‚è≥ (continuing conversation...)

üîÑ Turn 2: What about active customers only?
----------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT COUNT(*) AS active_customer_count FROM CUSTOMERS WHERE customer_status = 'Active';
üí≠ Explanation: This query counts the total number of active customers in the CUSTOMERS table.
ü§ñ Agent:
It seems I encountered an issue while trying to execute the query for counting active customers. However, I can provide you with the information directly.

There are **319 active customers** in the database. If you need any more details or have further questions, feel free to ask!

‚è≥ (continuing conversation...)

üîÑ Turn 3: Show me their average spending
----------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT AVG(total_spent) AS average_spending FROM CUSTOMERS WHERE customer_status = 'Active';
üí≠ Explanation: This query calculates the average spending of active customers by selecting the average of the total_spent column from the CUSTOMERS table where the customer_status is 'Active'.
ü§ñ Agent:
It seems there was an issue executing the query for the average spending of active customers. Let me provide you with the SQL query I would use to calculate that:

```sql
SELECT AVG(total_spent) AS average_spending
FROM CUSTOMERS
WHERE customer_status = 'Active';
```

This query calculates the average spending of customers who are marked as active.

If you would like me to summarize or explain anything else, please let me know!

‚è≥ (continuing conversation...)

üîÑ Turn 4: Which of these customers are from California?
----------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT * FROM CUSTOMERS WHERE state = 'California'
üí≠ Explanation: This query retrieves all customers from California.
ü§ñ Agent:
Here are the customers from California:

1. **Marissa Roberts**
   - Email: heather14@example.com
   - Phone: 405.238.3388x4879
   - Date of Birth: 1968-03-30
   - Address: PSC 8042, Box 0439, APO AA 07458
   - City: Penatown
   - Status: Inactive
   - Total Spent: $1,096.33

2. **Juan Tyler**
   - Email: kevin85@example.org
   - Phone: 755-769-9023
   - Date of Birth: 2002-08-15
   - Address: 27278 Ford Via Suite 084, Angelatown, IL 76181
   - City: Laurenstad
   - Status: Active
   - Total Spent: $2,024.84

3. **Jamie Crawford**
   - Email: garrett45@example.com
   - Phone: 871.583.4404
   - Date of Birth: 1983-11-13
   - Address: USS Vargas, FPO AA 09318
   - City: Simmonsstad
   - Status: Inactive
   - Total Spent: $816.29

4. **Joanne Santos**
   - Email: whitebarbara@example.com
   - Phone: 460.669.4096x00356
   - Date of Birth: 1998-06-02
   - Address: 739 Barry Stravenue Apt. 323, Huntertown, ND 79396
   - City: Port Davidstad
   - Status: Inactive
   - Total Spent: $1,989.31

5. **Amy Thomas**
   - Email: clayton86@example.net
   - Phone: (756)713-0876x1238
   - Date of Birth: 2006-04-15
   - Address: 46823 Atkinson Groves Apt. 027, North Adam, PR 67858
   - City: Burkefurt
   - Status: Active
   - Total Spent: $366.34

6. **Sarah Sullivan**
   - Email: seth86@example.org
   - Phone: 001-342-601-2234
   - Date of Birth: 1980-05-30
   - Address: 96627 Dennis Locks, West Samanthamouth, GU 07397
   - City: Russellburgh
   - Status: Inactive
   - Total Spent: $4,023.12

7. **Shannon Bright**
   - Email: jeremymitchell@example.com
   - Phone: 001-632-931-6778x1456
   - Date of Birth: 1990-10-03
   - Address: 19453 Samantha Skyway Suite 766, Morganstad, HI 86855
   - City: Wongchester
   - Status: Premium
   - Total Spent: $2,657.48

8. **Ricky Tucker**
   - Email: ramirezsteven@example.net
   - Phone: (766)282-9052x56599
   - Date of Birth: 1977-09-14
   - Address: 233 Jessica Ports Apt. 764, West Joshuafort, TX 32216
   - City: Thompsonberg
   - Status: Premium
   - Total Spent: $3,395.65

9. **Jacqueline Hawkins**
   - Email: tracy63@example.org
   - Phone: +1-801-208-9654x61253
   - Date of Birth: 1968-12-29
   - Address: 7486 Greene Wells, Hamptonshire, GU 68504
   - City: Williamhaven
   - Status: Premium
   - Total Spent: $3,262.67

10. **Darrell Morgan**
    - Email: jessicacabrera@example.com
    - Phone: 001-755-586-8190x041
    - Date of Birth: 1958-01-20
    - Address: 601 Zachary Island Apt. 029, Kristenfort, ID 68482
    - City: North Victoriatown
    - Status: Inactive
    - Total Spent: $275.75

11. **Tonya Kelley**
    - Email: ashley67@example.com
    - Phone: 001-716-562-3956x7125
    - Date of Birth: 1966-02-28
    - Address: 6749 Nicholas Crossing, Port Valerie, NM 19837
    - City: Sandersborough
    - Status: Inactive
    - Total Spent: $4,367.92

12. **Shannon Gomez**
    - Email: nlopez@example.com
    - Phone: 739.716.8670
    - Date of Birth: 1945-07-25
    - Address: 94410 Alexis Drive Suite 974, West Joshua, OR 20195
    - City: North Danielhaven
    - Status: Active
    - Total Spent: $1,437.69

13. **Brooke Ramos**
    - Email: amycunningham@example.org
    - Phone: 001-283-820-5112x134
    - Date of Birth: 2000-12-04
    - Address: 99050 Kevin Locks, Calebfort, SC 93989
    - City: Melissafort
    - Status: Premium
    - Total Spent: $657.56

14. **Alan Maynard**
    - Email: cindybrooks@example.net
    - Phone: (887)444-1235x9989
    - Date of Birth: 2003-04-14
    - Address: 263 Jordan Bypass Suite 255, West Christophershire, VI 99498
    - City: Nealstad
    - Status: Premium
    - Total Spent: $2,291.58

15. **Thomas Meyer**
    - Email: jeffery27@example.org
    - Phone: 645-880-1976x213
    - Date of Birth: 1992-08-09
    - Address: 52653 Lisa Crossroad Suite 708, North Danielhaven, UT 14675
    - City: New Jennifer
    - Status: Active
    - Total Spent: $1,083.57

If you need more information or have any other questions, feel free to ask!

‚è≥ (continuing conversation...)

üîÑ Turn 5: What products did they buy most often?
----------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT p.product_name, COUNT(oi.product_id) AS purchase_count
FROM ORDER_ITEMS oi
JOIN PRODUCTS p ON oi.product_id = p.product_id
JOIN ORDERS o ON oi.order_id = o.order_id
JOIN CUSTOMERS c ON o.customer_id = c.customer_id
WHERE c.state = 'California'
GROUP BY p.product_name
ORDER BY purchase_count DESC
LIMIT 10;
üí≠ Explanation: This query retrieves the most frequently purchased products by customers from California, counting the number of purchases for each product.
ü§ñ Agent:
Here are the products purchased most often by customers from California:

1. **Sharable stable interface** - Purchased 2 times
2. **Proactive intermediate access** - Purchased 2 times
3. **Versatile attitude-oriented collaboration** - Purchased 1 time
4. **Total methodical portal** - Purchased 1 time
5. **Switchable executive application** - Purchased 1 time
6. **Switchable clear-thinking help-desk** - Purchased 1 time
7. **Streamlined solution-oriented system engine** - Purchased 1 time
8. **Streamlined context-sensitive workforce** - Purchased 1 time
9. **Secured multi-state emulation** - Purchased 1 time
10. **Robust even-keeled success** - Purchased 1 time

If you have any more questions or need further details, just let me know!

üìà Conversation length: 10 messages

In [35]:
# Test error handling and recovery
print("\nüß™ Testing Error Handling")
print("=" * 50)

error_test_queries = [
    "Show me data from table that doesn't exist",
    "What's the invalid_column in products?",
    "SELECT * FROM nowhere;",
]

for query in error_test_queries:
    print(f"\n‚ùå Error Test: {query}")
    result = agent.query(query)
    print("ü§ñ Agent Response:")
    print(result['response'])

üß™ Testing Error Handling
==================================================

‚ùå Error Test: Show me data from table that doesn't exist
ü§ñ Agent Response:
It seems like you're asking for data from a table that doesn't exist in the database. If you could clarify what specific information you're looking for or if you meant to refer to a different table, I'd be happy to assist you further!

Please let me know how you'd like to proceed.

‚ùå Error Test: What's the invalid_column in products?
ü§ñ Agent Response:
It seems there was a misunderstanding. The `PRODUCTS` table does not have a column named `invalid_column`. The valid columns in the `PRODUCTS` table are:

- product_id
- product_name
- category
- price
- cost
- stock_quantity
- supplier
- description
- created_date
- is_active

If you have any specific queries or need information about a particular column, please let me know!

‚ùå Error Test: SELECT * FROM nowhere;
ü§ñ Agent Response:
The SQL query `SELECT * FROM nowhere;` attempts to select all records from a table named "nowhere," which does not exist in the database. This will result in an error because the specified table cannot be found.

If you have a specific table in mind or need assistance with a valid query, please let me know, and I'll be happy to help!

## 8. Advanced Features and Best Practices

Let's implement some advanced features for production-ready text-to-SQL systems.

In [36]:
def validate_sql_query(sql_query):
    """
    Validate SQL query for safety and best practices
    """
    sql_upper = sql_query.upper()
    
    # Check for dangerous operations
    dangerous_keywords = ['DROP', 'DELETE', 'UPDATE', 'INSERT', 'ALTER', 'CREATE', 'TRUNCATE']
    
    issues = []
    
    for keyword in dangerous_keywords:
        if keyword in sql_upper:
            issues.append(f"Contains potentially dangerous keyword: {keyword}")
    
    # Check for SELECT statements only
    if not sql_upper.strip().startswith('SELECT'):
        issues.append("Only SELECT statements are allowed")
    
    # Check for LIMIT clause
    if 'LIMIT' not in sql_upper and 'COUNT(' not in sql_upper:
        issues.append("Query should include LIMIT clause to prevent large result sets")
    
    return {
        'is_valid': len(issues) == 0,
        'issues': issues
    }

def enhanced_text_to_sql(natural_language_query):
    """
    Enhanced text-to-SQL with validation and safety measures
    """
    
    # Generate SQL
    sql_query = text_to_sql_basic(natural_language_query)
    
    # Validate SQL
    validation = validate_sql_query(sql_query)
    
    if not validation['is_valid']:
        return {
            'sql': sql_query,
            'valid': False,
            'issues': validation['issues'],
            'results': None
        }
    
    # Execute if valid
    results = execute_sql_query(sql_query)
    
    return {
        'sql': sql_query,
        'valid': True,
        'issues': [],
        'results': results
    }

In [37]:
# Test enhanced validation
test_queries = [
    "Show me all customers",
    "Delete all customers",  # Should be rejected
    "SELECT * FROM customers",  # Should warn about LIMIT
    "UPDATE products SET price = 0"  # Should be rejected
]

for query in test_queries:
    print(f"\nüîç Testing: {query}")
    result = enhanced_text_to_sql(query)
    
    if result['valid']:
        print("‚úÖ Query is valid")
        print(f"üìù SQL: {result['sql']}")
    else:
        print("‚ùå Query validation failed")
        print(f"üö® Issues: {', '.join(result['issues'])}")

üîç Testing: Show me all customers
‚úÖ Query is valid
üìù SQL: SELECT * FROM CUSTOMERS LIMIT 50;

üîç Testing: Delete all customers
‚ùå Query validation failed
üö® Issues: Contains potentially dangerous keyword: DELETE, Only SELECT statements are allowed, Query should include LIMIT clause to prevent large result sets

üîç Testing: SELECT * FROM customers
‚úÖ Query is valid
üìù SQL: SELECT * FROM customers LIMIT 50;

üîç Testing: UPDATE products SET price = 0
‚ùå Query validation failed
üö® Issues: Contains potentially dangerous keyword: UPDATE, Only SELECT statements are allowed, Query should include LIMIT clause to prevent large result sets

In [38]:
def create_query_suggestions():
    """
    Provide example queries users can try
    """
    suggestions = [
        {
            "category": "Basic Queries",
            "queries": [
                "Show me all customers",
                "What products do we have?",
                "How many orders were placed today?",
                "Show me customer details for John Smith"
            ]
        },
        {
            "category": "Analytics",
            "queries": [
                "What's our total revenue?",
                "Which products are bestsellers?",
                "What's the average order value?",
                "Show me sales by month",
                "Which customers spend the most?"
            ]
        },
        {
            "category": "Complex Queries", 
            "queries": [
                "Show customers who have never placed an order",
                "What products have the highest ratings?",
                "Find customers from California who bought Electronics",
                "Show me orders with more than 3 items",
                "Which products are out of stock?"
            ]
        }
    ]
    
    return suggestions

# Display query suggestions
suggestions = create_query_suggestions()

print("üí° Query Suggestions")
print("=" * 50)

for category in suggestions:
    print(f"\nüìÇ {category['category']}:")
    for i, query in enumerate(category['queries'], 1):
        print(f"  {i}. {query}")

üí° Query Suggestions
==================================================

üìÇ Basic Queries:
  1. Show me all customers
  2. What products do we have?
  3. How many orders were placed today?
  4. Show me customer details for John Smith

üìÇ Analytics:
  1. What's our total revenue?
  2. Which products are bestsellers?
  3. What's the average order value?
  4. Show me sales by month
  5. Which customers spend the most?

üìÇ Complex Queries:
  1. Show customers who have never placed an order
  2. What products have the highest ratings?
  3. Find customers from California who bought Electronics
  4. Show me orders with more than 3 items
  5. Which products are out of stock?

## 9. Interactive Demo

Try asking questions about the e-commerce database! The agent can handle complex queries and maintain conversation context.

In [39]:
# Interactive demo function
def demo_agent(user_query):
    """
    Demo function for testing queries
    """
    print(f"üîç User Query: {user_query}")
    print("-" * 50)
    
    result = agent.query(user_query)
    
    print("ü§ñ Agent Response:")
    print(result['response'])
    
    if result['function_calls'] > 0:
        print(f"\nüìä Made {result['function_calls']} function call(s)")
    
    return result

In [40]:
# Example usage - try different queries!
demo_queries = [
    "What's the total number of products in each category?",
    "Show me the most recent orders",
    "Which customer has the highest total spending?"
]

for query in demo_queries:
    print("\n" + "="*60)
    demo_agent(query)

============================================================
üîç User Query: What's the total number of products in each category?
--------------------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT category, COUNT(*) AS total_products FROM PRODUCTS GROUP BY category;
üí≠ Explanation: This query counts the total number of products in each category by grouping the results based on the category.
ü§ñ Agent Response:
It seems there was an issue executing the query. Let me provide you with the correct SQL query to get the total number of products in each category:

```sql
SELECT category, COUNT(*) AS total_products
FROM PRODUCTS
GROUP BY category;
```

This query counts the total number of products in each category by grouping the results based on the category.

If you'd like, I can help you interpret the results once you run this query in your database. If you have any other questions or need further assistance, just let me know!

üìä Made 1 function call(s)

============================================================
üîç User Query: Show me the most recent orders
--------------------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT * FROM ORDERS ORDER BY order_date DESC LIMIT 10;
üí≠ Explanation: This query retrieves the most recent 10 orders from the ORDERS table, sorted by order_date in descending order.
ü§ñ Agent Response:
Here are the most recent orders from the database:

| Order ID                                 | Customer ID                             | Order Date   | Status    | Total Amount | Shipping Address                                      | Payment Method |
|------------------------------------------|-----------------------------------------|--------------|-----------|--------------|-------------------------------------------------------|-----------------|
| eb17006c-9499-4d5d-ab21-36e4c92c2138    | 191b7b9c-ee03-4ebc-a27e-ade80d039219  | 2025-07-08   | Shipped   | 1818.75      | 5371 Brewer Grove Suite 196, Stephensmouth, NM 72649 | PayPal          |
| ff0e8b54-16a7-41d9-9648-51d9ddbaf77f    | b0ad882f-1197-4aa1-852b-80be52939a9a  | 2025-07-08   | Delivered | 757.13       | 746 Glenn Shoals Apt. 900, West Christopher, MA 15322| Credit Card     |
| bb01e1ba-52c6-4f5f-a815-85d890a988ca    | fdcad2fd-7d81-46b1-bffb-eba6665563c3  | 2025-07-08   | Shipped   | 5091.55      | 2772 Robert Station, Jenkinsview, NH 92029           | Credit Card     |
| b311740a-6980-4139-933e-85b022483e07    | 34d0d4d2-861c-4c44-8e12-1d0dcca3867a  | 2025-07-08   | Cancelled | 2995.06      | 730 Mark Fork Apt. 019, West David, PR 69557        | PayPal          |
| 71eef50d-c902-4529-8599-6416811a0584    | 24ddb37c-cd5f-4328-93b1-1ee8737eefb6  | 2025-07-08   | Cancelled | 5347.68      | USS Cochran, FPO AE 91617                             | Credit Card     |
| 65b616e2-384f-4419-91bc-3c4e6e44daa6    | d01e7afb-2c2c-4ee5-9935-0e527cdd893f  | 2025-07-08   | Pending   | 7889.89      | 76018 Jacob Knolls Suite 981, Carlsonbury, SD 48489 | PayPal          |
| 35b880d7-ac28-48c3-9ccc-bf9d4d0a36bc    | 28507771-956d-4b7e-8579-751f9848bc73  | 2025-07-07   | Pending   | 1866.72      | Unit 0597 Box 4689, DPO AP 30342                     | PayPal          |
| 82701ea7-066a-4938-90dc-db407b10d509    | 94f7ea7b-a312-48f4-8c96-ddc1c120c039  | 2025-07-07   | Shipped   | 857.10       | 8679 David Well Apt. 278, Gonzalezport, ND 58323    | Bank Transfer    |
| d526c6ec-7ac4-47e3-83b4-d6d650f0fb74    | f94330d3-7c2f-42ee-af69-cbb31712f740  | 2025-07-07   | Pending   | 6093.84      | 8531 Guzman Roads Suite 460, Beckermouth, KS 65960  | Cash            |
| 27dd298f-9de0-483d-9af3-1284021d8b43    | 2c51481e-6f1d-47cb-9f38-970004ca390e  | 2025-07-07   | Shipped   | 1915.12      | 71696 Butler Knoll Suite 392, Andrewborough, KY 64325| Bank Transfer    |

If you need more details or have any other questions, feel free to ask!

üìä Made 1 function call(s)

============================================================
üîç User Query: Which customer has the highest total spending?
--------------------------------------------------
üîß Executing: execute_sql_query
üìù SQL: SELECT first_name, last_name, total_spent FROM CUSTOMERS ORDER BY total_spent DESC LIMIT 1;
üí≠ Explanation: This query retrieves the customer with the highest total spending by ordering the customers by total_spent in descending order and limiting the result to the top one.
ü§ñ Agent Response:
The customer with the highest total spending is **Raymond Johnson**, with a total spending of **$4,997.98**.

If you have any more questions or need further information, feel free to ask!

üìä Made 1 function call(s)

## 10. Summary and Next Steps

Congratulations! You've built a complete text-to-SQL RAG system. Here's what we accomplished:

### ‚úÖ What We Built:
1. **Database Setup**: Created a realistic e-commerce database with multiple related tables
2. **Basic Text-to-SQL**: Implemented simple natural language to SQL conversion
3. **Function Calling**: Used OpenAI's function calling for dynamic query execution
4. **Conversational Interface**: Built an agent that maintains context across conversations
5. **Safety Measures**: Added query validation and error handling
6. **Enhanced Features**: Implemented best practices for production systems

### üîß Key Components:
- **Data Generation**: Used Faker to create realistic sample data
- **Database Schema**: Designed normalized tables with proper relationships  
- **LLM Integration**: Leveraged Azure OpenAI for natural language understanding
- **Error Handling**: Implemented robust error handling and recovery
- **Security**: Added SQL injection prevention and query validation

### üöÄ Next Steps:
1. **Add more data sources**: Integrate with other databases or APIs
2. **Improve error handling**: Add more sophisticated query correction
3. **Add caching**: Cache frequent queries for better performance
4. **Enhance security**: Implement user authentication and access controls
5. **Add visualizations**: Create charts and graphs from query results
6. **Deploy as API**: Create a REST API for the text-to-SQL service

### üìö Additional Resources:
- SQLite Documentation: https://www.sqlite.org/docs.html
- OpenAI Function Calling: https://platform.openai.com/docs/guides/function-calling
- SQL Best Practices: Focus on performance, security, and maintainability

Try experimenting with different queries and see how the agent handles various scenarios!